<ion-header>
  <ion-navbar>
    <ion-title>
      Mataelang
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <div padding style="width:100%; height:80%;" class="map" 
  leaflet 
  [leafletOptions]="options" 
  [leafletLayers]="markers"
  [leafletCenter]="center"
  [leafletZoom]="zoom"
  (leafletMapReady)="onMapReady($event)">
    <ion-fab bottom center>
      <button ion-fab mini (click)="toggleGeolocation()">
        <ion-icon *ngIf="geolocate" name="add"></ion-icon>
        <ion-icon *ngIf="!geolocate" name="home"></ion-icon>
      </button>
    </ion-fab>
    

  </div>
  <div padding>
    <p>Current Latitude: {{locationTracker.lat}}</p>
    <p>Current Longitude: {{locationTracker.lng}}</p>
    <p>Zoom: {{dummy.dummyZoom}}</p>
  </div>


</ion-content>